<?xml version="1.0"?>
<openbox_config xmlns="http://openbox.org/3.4/rc">
  <libinput>
    <device category="ADS7846 Touchscreen">
      <calibrationMatrix>0.0072091456468 -0.973154231364 0.973769470816 1.01817655533 0.0165697405347 -0.00758388772081</calibrationMatrix>
    </device>
  </libinput>
  <touch deviceName="ADS7846 Touchscreen" mapToOutput="HDMI-A-1" mouseEmulation="yes"/>
  <keyboard>
    <keybind key="C-A-t"><action name="None"/></keybind>
    <keybind key="C-A-w"><action name="None"/></keybind>
    <keybind key="C-A-b"><action name="None"/></keybind>
    <keybind key="C-A-m"><action name="None"/></keybind>
    <keybind key="C-A-space"><action name="None"/></keybind>
    <keybind key="C-A-Delete"><action name="None"/></keybind>
    <keybind key="Super_L"><action name="None"/></keybind>
    <keybind key="W-d"><action name="None"/></keybind>
    <keybind key="A-Tab"><action name="None"/></keybind>
    <keybind key="A-F4"><action name="None"/></keybind>
    <keybind key="Print"><action name="None"/></keybind>
    <keybind key="XF86PowerOff"><action name="None"/></keybind>
    <keybind key="A-Left"><action name="None"/></keybind>
    <keybind key="A-Right"><action name="None"/></keybind>
    <keybind key="A-Up"><action name="None"/></keybind>
    <keybind key="A-Down"><action name="None"/></keybind>
    <keybind key="C-A-Left"><action name="None"/></keybind>
    <keybind key="C-A-Right"><action name="None"/></keybind>
    <keybind key="C-A-Up"><action name="None"/></keybind>
    <keybind key="C-A-Down"><action name="None"/></keybind>
  </keyboard>
</openbox_config>
